.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#instructions-modal {
  background-color: #f8bbd0;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
  font-family: "Indie Flower", cursive;
  font-size: 1.1rem;
  background: linear-gradient(90deg, #ffb347, #ffcc33);
  padding: 2%;
  text-align: center;
}

#instructions-modal:hover {
  box-shadow: 4px 4px 15px #ccc;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .modal-content {
    width: 60%;
    height: 60%;
  }
}
@media (min-width: 992px) {
  .modal-content {
    width: 40%;
    height: 40%;
  }
}
@media (min-width: 1200px) {
  .modal-content {
    width: 30%;
    height: 30%;
  }
}

#instructions-button {
  width: 160px;
  height: 50px;
  box-shadow: 2px 2px 10px #ccc;
}
#instructions-button:hover {
  box-shadow: 4px 4px 15px #ccc;
  cursor: pointer;
  transform: scale(1.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
